@font-face {
    font-family: "titulos";
    src: url("../../FonteTitulo/RobotoMono-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "texto";
    src: url("../../FonteTexto/ComicNeue-Regular.ttf");
}
@media (max-width: 2000px){
    body{
        padding: 15px;
        font-family: "texto";
        text-align: center;
    }
    h1{
        font-family: "titulos";
    }
    h4{
        font-family: "titulos";
    }
    ul{
    text-align: left;
    }
    a{
        display: inline;
        text-decoration: none;
    }
    a:hover {
        color: rgb(210, 220, 240);
    }
    table{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-color: cornflowerblue;
    } 
    th, td{
        padding: 15px;
        text-align: left;
        border-color: cornflowerblue;
    }
    tr:hover {background-color: rgb(210, 220, 240)}
    th{
        text-align: center;
        color: darkblue;
    }
    .menuRapido {
        float: left;
        font-family: "titulos";
        display: inline;
        font:size  30px;
        padding: 14px 16px;
        border-left: 2px solid black;
        color: white;
        text-decoration: none;
        border-bottom: 2px solid black;
    }
    .fotos:hover{
        transition: width 1.3s, height 1.3s, border-radius 1.3s;
        width: 525px;
        height: 600px;
        border-radius: 10%;
    }
    .fotos{
        filter: drop-shadow(10px 10px 10px cornflowerblue);
        border-radius: 30%;
    }
    #menuInicial{
        background-color: cornflowerblue;
    }
    #cabecalho{
        font:size  60px;
        color:rgb(255, 255, 255);
        background-color: cornflowerblue;
        border: 5px solid black;
    }
    #conteudo{
        border-left: 5px solid cornflowerblue;
    }
    #imagens{
        border-left: 5px solid cornflowerblue;
    }
    #desenvolvimento{
        border: 5px solid black;
        color:rgb(255, 255, 255);
        background-color: cornflowerblue;
    }
    #fontes{
        border: 5px solid black;
        color:rgb(255, 255, 255);
        background-color: cornflowerblue;
    }
}
@media (max-width: 512px){
    body{
        padding: 15px;
        font-family: "texto";
        text-align: center;
    }
    h1{
        font-family: "titulos";
    }
    h4{
        font-family: "titulos";
    }
    ul{
    text-align: left;
    }
    a{
        display: inline;
        text-decoration: none;
    }
    a:hover {
        color: rgb(210, 220, 240);
    }
    table{
        width: 100%;
        border-color: cornflowerblue;
    } 
    th, td{
        padding: 15px;
        text-align: left;
        border-color: cornflowerblue;
    }
    tr:hover {background-color: rgb(210, 220, 240)}
    th{
        text-align: center;
        color: darkblue;
    }
    .menuRapido {
        float: left;
        font-family: "titulos";
        display: inline;
        font:size  30px;
        padding: 14px 16px;
        border-left: 2px solid black;
        color: white;
        text-decoration: none;
        border-bottom: 2px solid black;
    }
    .fotos:hover{
        transition: width .5s, height 1.3s;
        width: 525px;
        height: 600px;
        border-radius: 10%;
    }
    .fotos{
        filter: drop-shadow(10px 10px 10px cornflowerblue);
        width: 225px;
        height: 300px;
        border-radius: 30%;
    }
    #menuInicial{
        background-color: cornflowerblue;
    }
    #cabecalho{
        font:size  60px;
        color:rgb(255, 255, 255);
        background-color: cornflowerblue;
        border: 5px solid black;
    }
    #conteudo{
        border-left: 5px solid cornflowerblue;
    }
    #imagens{
        border-left: 5px solid cornflowerblue;
    }
    #desenvolvimento{
        border: 5px solid black;
        color:rgb(255, 255, 255);
        background-color: cornflowerblue;
    }
    #fontes{
        border: 5px solid black;
        color:rgb(255, 255, 255);
        background-color: cornflowerblue;
    }
}